                     <!doctype html>
<html>
<head>
  <script src="https://cdn.anychart.com/releases/8.1.0/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.1.0/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.1.0/js/anychart-exports.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.1.0/js/anychart-radar.min.js"></script>
  <link rel="stylesheet" href="https://cdn.anychart.com/releases/8.1.0/css/anychart-ui.min.css" />
  <link rel="stylesheet" href="https://cdn.anychart.com/releases/8.1.0/fonts/css/anychart-font.min.css" />
  <style>
    html, body, #container {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
    <div id="container"></div>
    <script type="text/javascript">
    anychart.onDocumentReady(function() {
      // create data set on our data
      var dataSet = anychart.data.set([
        ['Total Number of Bugs', 47, 30, 3 , 17 , 38],
        ['Total High Priority Bugs', 6, 14, 1, 2, 7],
        ['Aging Factor', 0.4, 15.8, 49.8, 41, 13.3],
        ['Total Time', 30.7, 24.2, 41.3, 44.7,28.7]
        
        
      ]);

      // map data for the first series, take x from the zero column and value from the first column of data set
      var data1 = dataSet.mapAs({
        'x': 0,
        'value': 1,
        'total': 2 
      });
      // map data for the second series, take x from the zero column and value from the second column of data set
      var data2 = dataSet.mapAs({
        'x': 0,
        'value': 2,
        'total': 3 
      });
      // map data for the third series, take x from the zero column and value from the third column of data set
      var data3 = dataSet.mapAs({
        'x': 0,
        'value': 3,
        'total': 1 
      });
       var data4 = dataSet.mapAs({
        'x': 0,
        'value': 4,
        'total': 1 
      });
       var data5 = dataSet.mapAs({
        'x': 0,
        'value': 5,
        'total': 1 
      });
      

      // create radar chart
      var chart = anychart.radar();

      // set chart title text settings
      chart.title('Solutions Objectives Comparison ')
        // set chart legend
        .legend(true);

      // set chart padding settings
      chart.padding().bottom(70);

      // set chart yScale settings
      chart.yScale()
        .minimum(0)
        .maximum(50)
        .ticks({
          'interval': 10
        });

      // create chart label with description
      chart.label()
        .text('This chart compares Solutions for a bug fixing plan')
        .anchor('center-bottom')
        .position('center-bottom')
        .fontWeight('normal')
        .fontSize(11)
        .fontFamily('tahoma')
        .fontColor('rgb(35,35,35)')
        .offsetY(15);

 
 
  chart.tooltip().titleFormat("Solution Objectives");

chart.tooltip().format(tootTipValue());
  
 
 
 function tootTipValue() {
 	if( chart.getSelectedPoints()  !== undefined ) {
 	
     	return ""  + chart.getSelectedPoints().length ;  
     }  
     else {
     	return "starting" ;   
     }    
}

      // create first series with mapped data
      chart.line(data1).name('Solution1').markers(true);
      // chart.line(data1).tooltip =  tooltip1;
      // create second series with mapped data
      chart.line(data2).name('Solution2').markers(true);
      // create third series with mapped data
      chart.line(data3).name('Solution3').markers(true);
      chart.line(data4).name('Solution4').markers(true);

      chart.line(data5).name('Solution5').markers(true);


      // set tooltip format
      //chart.tooltip().format('Value: {%Value}{decimalsCount: 2}');

      // set container id for the chart
      chart.container('container');
      // initiate chart drawing
      chart.draw();
    });
    </script>
</body>
</html>

                